<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Shop</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/cart" routerLinkActive="active">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/orders" routerLinkActive="active">Your orders</a>
    </li>
  </ul>
  <ul class="navbar-nav" *ngIf="user">
    <li class="nav-item" *ngIf="user.role === 'admin'">
      <button class="btn btn-outline-warning" routerLink="control-panel/users" routerLinkActive="active">Users</button>
    </li>
    <li class="nav-item" *ngIf="user.role === 'admin' || user.role === 'employee'">
      <a class="btn btn-outline-warning" href="#">Products</a>
    </li>
  </ul>    
  <ul class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="user"> 
      <a class="navbar-brand">Welcome {{user.firstName}}</a>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/profile" routerLinkActive="active">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" routerLink="/account/login" routerLinkActive="active">Logout</a>
    </li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>